main {
    .main-wrap05 {
      .line01 {
        .banner-text {
            font-size: 24px;
            strong {
                font-size: 40px;
                }
            }
        }
  
      .line02 {
        strong {
            font-size: 80px;
        }
        span {
            font-size: 24px;
        }
      }
    }
  }
  