// 작업공간 1300px
// <span class="material-symbols-outlined">arrow_right_alt</span> 버튼arrow


body {
  font-family: "Poppins", sans-serif;
  background-color: #000b15;
  color: #fff;
  a {
    color: #fff;
  }
}

header {
  position: fixed;
  top: 0%;
  transition-duration: 250ms;
  transition-timing-function: linear;
  margin: 0 auto;
  width: 100%;
  
  .header-wrap {
    color: red;
    max-width: 1300px;
    height: 72px;
    margin: 0 auto;
    position: relative;

    .visible-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        img {
          width: 90px;
          height: 22px;
        }
      }
      .header-menu-list:hover + .hidden-bar {
        background-color: red;
        opacity: 0.4;
        z-index: 5;
        color: red;
      }
      .header-menu-list {
        display: flex;
        font-size: 0.875rem;
        li {
          padding: 28px 14px;
          line-height: 22px;
        }
      }

      .hidden-bar {
        opacity: 0;
        position: absolute;
        background-color: blue;
        display: flex;
        top: 0%;
        left: 0%;
        z-index: -5;
        width: 1300px;
        height: 280px;

        .hidden-bar-wrap {
          opacity: 0.5;
          ul {
            background-color: #00b2ff;
          }
        }
      }

      .header-right {
        ul {
          display: flex;
          width: 211px;
          justify-content: space-between;
          align-items: center;
          li {
            border: 1px solid yellow;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .platform {
            background-color: #00b2ff;
            width: 105px;
            height: 32px;
            text-transform: uppercase;
          }
          .language {
            background-color: #fff;
            width: 54px;
            height: 32px;
          }
          .total-menu {
            background-color: #fff;
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
