body {
  font-family: "Poppins", sans-serif;
  background-color: #000b15;
  color: #fff;
}
body a {
  color: #fff;
}

header {
  z-index: 100;
  position: fixed;
  top: 0%;
  transition-duration: 250ms;
  transition-timing-function: linear;
  margin: 0 auto;
  width: 100%;
}
header .header-wrap {
  max-width: 1300px;
  height: 72px;
  margin: 0 auto;
  position: relative;
}
header .header-wrap .visible-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap .visible-bar h1 img {
  width: 90px;
  height: 22px;
}
header .header-wrap .visible-bar .header-menu-list {
  display: flex;
  font-size: 0.875rem;
}
header .header-wrap .visible-bar .header-menu-list li {
  padding: 28px 14px;
  line-height: 22px;
}
header .header-wrap .visible-bar .hidden-bar {
  position: fixed;
  background-color: #091626;
  top: 0%;
  left: 0%;
  z-index: -5;
  width: 100%;
  height: 280px;
  display: none;
}
header .header-wrap .visible-bar .hidden-bar .hidden-bar-wrap {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
header .header-wrap .visible-bar .hidden-bar .hidden-bar-wrap .hidden-contents {
  position: absolute;
  bottom: 50px;
  left: 0;
}
header .header-wrap .visible-bar .hidden-bar .hidden-bar-wrap .hidden-contents strong {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}
header .header-wrap .visible-bar .hidden-bar .hidden-bar-wrap .hidden-contents ul {
  display: flex;
  margin-top: 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
header .header-wrap .visible-bar .hidden-bar .hidden-bar-wrap .hidden-contents ul li {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
header .header-wrap .visible-bar .hidden-bar .hidden-bar-wrap .hidden-contents ul li:nth-last-child(1) {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
header .header-wrap .visible-bar .header-right ul {
  display: flex;
  width: 211px;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap .visible-bar .header-right ul li {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-wrap .visible-bar .header-right ul .platform {
  background-color: #00b2ff;
  width: 105px;
  height: 32px;
  text-transform: uppercase;
}
header .header-wrap .visible-bar .header-right ul .language {
  background-color: #fff;
  width: 54px;
  height: 32px;
}
header .header-wrap .visible-bar .header-right ul .total-menu {
  background-color: #fff;
  width: 32px;
  height: 32px;
}
header .to-top {
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 111111;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 179, 255, 0.6549019608);
  border-radius: 50%;
  transform: scale(0.8);
  opacity: 0;
  cursor: pointer;
}
header .to-top a {
  position: relative;
  color: #000;
}
header .to-top a img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 35px;
  height: 35px;
  transform: rotateZ(-90deg) translate(-20%, 22%) scale(0.9);
}
header .to-top:hover {
  background-color: #000b15;
  transition: ease-in;
  transition-duration: 200ms;
}/*# sourceMappingURL=header.css.map */